h2 {
    font-size: 2rem;
    margin-top: 8px;
    margin-bottom: 0px;
}

form.postComment {
    gap: 8px;

    padding: 16px;
    border: 3px dashed var(--accent-color);

    label {
        font-size: 1.2rem;
        font-weight: bold;
    }

    input {
        display: none;
    }

    .formFooter {
        width: 100%;

        align-items: center;

        margin-top: 0px;

        div {
            display: flex;
            gap: 8px;
        }

        button {
            margin: 0px;
        }
    }
}

.blogPostSection,
.commentsSection {
    text-align: left;
}

.date {
    margin-top: 0px;
    opacity: 70%;
}

.commentsSection {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-bottom: 32px;

    h2 {
        margin-top: 4px;
        font-size: 1.5rem;
    }
}

.comment {
    padding: 8px 16px;
    border: 1px solid var(--accent-color);
    border-radius: var(--base-border-radius);
}

.comment.prompt {
    padding: 0px;
    border-width: 3px;
    border-style: dashed;

    color: inherit;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;

    background-color: transparent;
}

.comment.prompt:hover,
.comment.prompt:focus {
    background-color: var(--accent-light);
}

.asInputStatus {
    font-size: 0.9rem;
    text-align: right;

    user-select: none;
}

.commentWarn {
    margin-left: 2px;

    user-select: none;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    p {
        margin: 0px;
    }
}

.details .author {
    color: inherit;
    font-weight: bold;
}

a.author:hover,
a.author.focus {
    text-decoration: underline;
}
