h2 {
    font-size: 2rem;
    margin-bottom: 0px;
}

.blogPostSection,
.commentsSection {
    text-align: left;
}

.date {
    margin-top: 0px;
    opacity: 70%;
}

.commentsSection {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-bottom: 32px;

    h2 {
        font-size: 1.5rem;
    }
}

.comment {
    padding: 8px 16px;
    border: 1px solid var(--accent-color);
    border-radius: var(--base-border-radius);
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    p {
        margin: 0px;
    }
}

.details .author {
    color: inherit;
    font-weight: bold;
}

a.author:hover,
a.author.focus {
    text-decoration: underline;
}
